
body{
  
  background-color: #111!important;
  color: #dee!important;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}
.App {
  text-align: center;
}
.mainSection{
  padding: 30px;
  
}
.indiv{
  border: 1px solid #dee;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.indiv-country{
  border: 1px solid #dee;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}
.indiv-country .bigFont{
  font-size: 14px;
}
.country-container{
  margin-top: 30px;
  height: 500px;
  overflow-y: scroll;
  padding-right: 10px;
}
/* .country-container::-webkit-scrollbar{
  display: none;
} */
body::-webkit-scrollbar{
  display: none;
}

.profile{
  margin-top: 20px;
}
.profile a{
  text-transform: none;
  color: #dee;
  font-size: 30px;
  margin-right: 10px;
}
.profile h3{
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about{
  margin-bottom: 30px;
  padding: 10px;
}

.totalContainer{
  margin-bottom: 30px;
}
.about .map{
  text-decoration: none;
  color: #dee;
  /* background-color: #dee; */
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #dee;
  font-weight: 700;
}

.indian{
  text-align: center;
  padding-top: 30px;
}

.searchBar input{
  background-color: transparent;
  width: 270px;
}
.searchBar input::placeholder{
  color:#dee;
}


.indian h3{
  margin-top: 20px;
}